services:
  main:
    image: codesectools
    build:
      context: .
      dockerfile: Dockerfile

      args:
        UID: "${UID:-1000}"
        GID: "${GID:-1000}"

    tty: true
    stdin_open: true

    working_dir: /home/codesectools
    
    command: /bin/bash
  test:
    image: codesectools
    build:
      context: .
      dockerfile: Dockerfile

      args:
        UID: "${UID:-1000}"
        GID: "${GID:-1000}"

    tty: true
    stdin_open: true

    volumes:
      - ./tests:/app/tests:ro
      
    working_dir: /app

    environment:
      _TYPER_STANDARD_TRACEBACK: 1
    
    command: pytest

volumes:
  cstools-cache: