site_name: CodeSecTools
site_author: nolliv22
repo_url: https://github.com/OPPIDA/CodeSecTools
repo_name: OPPIDA/CodeSecTools

nav:
  - Home: index.md
  - SAST: 
    - sast/index.md
    - Supported SAST Tools:
      - sast/supported/index.md
      - sast/supported/*.j2.md
  - Dataset: 
    - dataset/index.md
    - Supported datasets:
      - dataset/supported/index.md
      - dataset/supported/*.j2.md
  - CLI: cli.md
  - API Reference:
    - api/index.md 
    - SAST Tools: api/sast.md 
    - All SAST: api/allsast.md
    - Datasets: api/dataset.md
    - Shared: api/shared.md

theme:
  name: material
  language: en
  logo: assets/logo.svg
  favicon: assets/logo.svg
  font:
    text: Noto Sans    
  icon:
    repo: fontawesome/brands/github

  features:
    - content.code.copy
    - navigation.expand
    - navigation.instant
    - navigation.instant.progress
    - navigation.indexes 
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.prune 
    - toc.follow
    - navigation.top
    - search.suggest
    - search.highlight

  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
  - offline
  - privacy
  - search
  - mermaid2
  - gh-admonitions
  - termynal
  - open-in-new-tab
  - gen-files:
      scripts:
        - docs/gen_pages.py
  - literate-nav:
      nav_file: SUMMARY.md
  - include-markdown:
      rewrite_relative_urls: true
  - mkdocstrings:
      handlers:
        python:
          paths: [.]
          inventories:
            - https://docs.python.org/3/objects.inv
          options:
            find_stubs_package: true
            show_bases: true
            show_source: false
            show_if_no_docstring: true
            members_order: source
            
            parameter_headings: true
            show_root_heading: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            summary:
              attributes: true
              functions: true
              modules: true
            
            merge_init_into_class: true
            docstring_style: google

            separate_signature: true
            show_signature_annotations: true
            signature_crossrefs: true
            relative_crossrefs: true
            scoped_crossrefs: true
            annotations_path: source

markdown_extensions:
  - attr_list
  - mkdocs-click
  - admonition
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - tables
  
extra_css:
  - assets/extra.css