/* Theme */
:root>* {
  --md-primary-fg-color: #3E9C36;
  --md-primary-fg-color--dark: #3A3A3A;
  --md-primary-fg-color--light: #E6E6E6;
}

/* Custom admonitions */
/* Legal */
:root {
  --md-admonition-icon--legal: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9 10a3.04 3.04 0 0 1 3-3 3.04 3.04 0 0 1 3 3 3.04 3.04 0 0 1-3 3 3.04 3.04 0 0 1-3-3m3 9 4 1v-3.08A7.54 7.54 0 0 1 12 18a7.54 7.54 0 0 1-4-1.08V20m4-16a5.78 5.78 0 0 0-4.24 1.74A5.78 5.78 0 0 0 6 10a5.78 5.78 0 0 0 1.76 4.23A5.78 5.78 0 0 0 12 16a5.78 5.78 0 0 0 4.24-1.77A5.78 5.78 0 0 0 18 10a5.78 5.78 0 0 0-1.76-4.26A5.78 5.78 0 0 0 12 4m8 6a8 8 0 0 1-.57 2.8A7.8 7.8 0 0 1 18 15.28V23l-6-2-6 2v-7.72A7.9 7.9 0 0 1 4 10a7.68 7.68 0 0 1 2.33-5.64A7.73 7.73 0 0 1 12 2a7.73 7.73 0 0 1 5.67 2.36A7.68 7.68 0 0 1 20 10"/></svg>')
}

.md-typeset .admonition.legal,
.md-typeset details.legal {
  border-color: rgb(255, 185, 59);
}

.md-typeset .legal>.admonition-title,
.md-typeset .legal>summary {
  background-color: rgba(255, 185, 59, 0.1);
}

.md-typeset .legal>.admonition-title::before,
.md-typeset .legal>summary::before {
  background-color: rgb(255, 185, 59);
  -webkit-mask-image: var(--md-admonition-icon--legal);
  mask-image: var(--md-admonition-icon--legal);
}

/* Requirements */
:root {
  --md-admonition-icon--requirements: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M14 10H3v2h11zm0-4H3v2h11zM3 16h7v-2H3zm18.5-4.5L23 13l-7 7-4.5-4.5L13 14l3 3z"/></svg>')
}

.md-typeset .admonition.requirements,
.md-typeset details.requirements {
  border-color: rgb(59, 144, 255);
}

.md-typeset .requirements>.admonition-title,
.md-typeset .requirements>summary {
  background-color: rgba(59, 144, 255, 0.1);
}

.md-typeset .requirements>.admonition-title::before,
.md-typeset .requirements>summary::before {
  background-color: rgb(59, 144, 255);
  -webkit-mask-image: var(--md-admonition-icon--requirements);
  mask-image: var(--md-admonition-icon--requirements);
}

/* Docker */
:root {
  --md-admonition-icon--docker: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.81 10.25c-.06-.04-.56-.43-1.64-.43-.28 0-.56.03-.84.08-.21-1.4-1.38-2.11-1.43-2.14l-.29-.17-.18.27c-.24.36-.43.77-.51 1.19-.2.8-.08 1.56.33 2.21-.49.28-1.29.35-1.46.35H2.62c-.34 0-.62.28-.62.63 0 1.15.18 2.3.58 3.38.45 1.19 1.13 2.07 2 2.61.98.6 2.59.94 4.42.94.79 0 1.61-.07 2.42-.22 1.12-.2 2.2-.59 3.19-1.16A8.3 8.3 0 0 0 16.78 16c1.05-1.17 1.67-2.5 2.12-3.65h.19c1.14 0 1.85-.46 2.24-.85.26-.24.45-.53.59-.87l.08-.24zm-17.96.99h1.76c.08 0 .16-.07.16-.16V9.5c0-.08-.07-.16-.16-.16H3.85c-.09 0-.16.07-.16.16v1.58c.01.09.07.16.16.16m2.43 0h1.76c.08 0 .16-.07.16-.16V9.5c0-.08-.07-.16-.16-.16H6.28c-.09 0-.16.07-.16.16v1.58c.01.09.07.16.16.16m2.47 0h1.75c.1 0 .17-.07.17-.16V9.5c0-.08-.06-.16-.17-.16H8.75c-.08 0-.15.07-.15.16v1.58c0 .09.06.16.15.16m2.44 0h1.77c.08 0 .15-.07.15-.16V9.5c0-.08-.06-.16-.15-.16h-1.77c-.08 0-.15.07-.15.16v1.58c0 .09.07.16.15.16M6.28 9h1.76c.08 0 .16-.09.16-.18V7.25c0-.09-.07-.16-.16-.16H6.28c-.09 0-.16.06-.16.16v1.57c.01.09.07.18.16.18m2.47 0h1.75c.1 0 .17-.09.17-.18V7.25c0-.09-.06-.16-.17-.16H8.75c-.08 0-.15.06-.15.16v1.57c0 .09.06.18.15.18m2.44 0h1.77c.08 0 .15-.09.15-.18V7.25c0-.09-.07-.16-.15-.16h-1.77c-.08 0-.15.06-.15.16v1.57c0 .09.07.18.15.18m0-2.28h1.77c.08 0 .15-.07.15-.16V5c0-.1-.07-.17-.15-.17h-1.77c-.08 0-.15.06-.15.17v1.56c0 .08.07.16.15.16m2.46 4.52h1.76c.09 0 .16-.07.16-.16V9.5c0-.08-.07-.16-.16-.16h-1.76c-.08 0-.15.07-.15.16v1.58c0 .09.07.16.15.16"/></svg>')
}

.md-typeset .admonition.docker,
.md-typeset details.docker {
  border-color: rgb(59, 144, 255);
}

.md-typeset .docker>.admonition-title,
.md-typeset .docker>summary {
  background-color: rgba(59, 144, 255, 0.1);
}

.md-typeset .docker>.admonition-title::before,
.md-typeset .docker>summary::before {
  background-color: rgb(59, 144, 255);
  -webkit-mask-image: var(--md-admonition-icon--docker);
  mask-image: var(--md-admonition-icon--docker);
}

/* Cube */
:root {
  --md-admonition-icon--cube: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21 16.5c0 .38-.21.71-.53.88l-7.9 4.44c-.16.12-.36.18-.57.18s-.41-.06-.57-.18l-7.9-4.44A.99.99 0 0 1 3 16.5v-9c0-.38.21-.71.53-.88l7.9-4.44c.16-.12.36-.18.57-.18s.41.06.57.18l7.9 4.44c.32.17.53.5.53.88zM12 4.15 6.04 7.5 12 10.85l5.96-3.35z"/></svg>')
}

.md-typeset .admonition.cube,
.md-typeset details.cube {
  border-color: rgb(59, 144, 255);
}

.md-typeset .cube>.admonition-title,
.md-typeset .cube>summary {
  background-color: rgba(59, 144, 255, 0.1);
}

.md-typeset .cube>.admonition-title::before,
.md-typeset .cube>summary::before {
  background-color: rgb(59, 144, 255);
  -webkit-mask-image: var(--md-admonition-icon--cube);
  mask-image: var(--md-admonition-icon--cube);
}

/* Scan */
:root {
  --md-admonition-icon--scan: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17 22v-2h3v-3h2v3.5c0 .4-.2.7-.5 1s-.7.5-1 .5zM7 22H3.5c-.4 0-.7-.2-1-.5s-.5-.7-.5-1V17h2v3h3zM17 2h3.5c.4 0 .7.2 1 .5s.5.6.5 1V7h-2V4h-3zM7 2v2H4v3H2V3.5c0-.4.2-.7.5-1s.6-.5 1-.5zm12 9H5v2h14z"/></svg>')
}

.md-typeset .admonition.scan,
.md-typeset details.scan {
  border-color: rgb(63, 70, 79);
}

.md-typeset .scan>.admonition-title,
.md-typeset .scan>summary {
  background-color: rgba(59, 144, 255, 0.1);
}

.md-typeset .scan>.admonition-title::before,
.md-typeset .scan>summary::before {
  background-color: rgb(63, 70, 79);
  -webkit-mask-image: var(--md-admonition-icon--scan);
  mask-image: var(--md-admonition-icon--scan);
}