---
title: {{ name }}
---
# {{ name }} [:material-open-in-new:]({{ url }})

*{{ description }}*

Type: `{{ type }}`

Supported version: `{{ supported_version }}`

!!! license "{{ license }} {% if license_url %}[:material-open-in-new:]({{ license_url }}){% endif %}"
    - Type: `{{ license_type }}`
    {% for extra in license_extra %}
    - {{ extra }}
    {% endfor %}

!!! requirements "Requirements"
    {% for requirement in requirements %}
    - {{ requirement }}
    {% endfor %}

{% if extra %}{{ extra }}{% endif %}