---
title: {{ name }}
---
# {{ name }} [:material-open-in-new:]({{ url }})

*{{ description }}*

Type: `{{ type }}`

Supported version: `{{ supported_version }}`

Supported languages: `{{ supported_languages | join(', ') }}`

!!! legal "Legal Notice"
    {% if legal.license -%}
    - License: `{{ legal.license }}` (`{{ legal.license_type }}`) [:material-open-in-new:]({{ legal.license_url }})
    {%- endif %}

    {% if legal.terms -%}
    - Terms: `{{ legal.terms }}` [:material-open-in-new:]({{ legal.terms_url }})
    {%- endif %}

!!! warning "Disclaimer"
    This project provides wrappers and scripts to integrate with `{{ name }}`, but **does not** include the tool itself.
    Therefore, you are responsible for reviewing and complying with the product's license and terms of use.

!!! requirements "Requirements"
    {% for requirement in requirements %}
    - {{ requirement }}
    {% endfor %}

{% if extra %}{{ extra }}{% endif %}