# List of supported {{ name }}

| Name  | Type | Supported version | License |
| :---: | :---: | :---: | :---: |
{% for p in profiles -%}
| [**{{ p.name }}**]({{ p.uri }})  | `{{ p.type }}` | `{{ p.supported_version }}` | `{{ p.license }} ({{ p.license_type }})` |
{% endfor %}