# {{ name }}

*{{ description }}*

## Information

Type: `{{ type }}`

URL: [{{ url }}]({{ url }})

Version: `{{ version }}`

{% if licence_url %}
Licence: [`{{ licence }}`]({{ licence_url }})
{% else %}
Licence: `{{ licence }}`
{% endif %}

{% if extra %}
## Extra

{{ extra }}
{% endif %}