# List of supported {{ name }}

| Name  | Type | Supported version | Supported languages | Legal |
| :---: | :---: | :---: | :---: | :---: |
{% for p in profiles -%}
{% if p.legal["license"] -%}
| [**{{ p.name }}**]({{ p.uri }})  | `{{ p.type }}` | `{{ p.supported_version }}` | `{{ p.supported_languages | join(', ') }}` | `{{ p.legal["license"] }} ({{ p.legal["license_type"] }})` |
{% else -%}
| [**{{ p.name }}**]({{ p.uri }})  | `{{ p.type }}` | `{{ p.supported_version }}` | `{{ p.supported_languages | join(', ') }}` | [`{{ p.legal["terms"] }}`]({{ p.legal["terms_url"] }}) |
{% endif -%}
{% endfor %}